body{
	margin: 0px;
	padding: 0px;
	font-family: 'Open Sans Condensed', sans-serif;
}
#logoo {
    text-align: center;
    background-color: #ffffff;
    height: 100px;
}
#logoo img {
    height: 150px;
    
}
h2{
	font-family: 'Open Sans Condensed', sans-serif;
}
form{
	margin-top: 100px;
	margin-bottom: 50px;
}
form input{
	width: 200px;
}
.warning{

	margin:0px 100px 30px ;
	height: 200px;
	border-left: 2px solid #000000;
	background-color: #ffffff;
}
.main{	
	height: auto;
	background-color: #ffffff;
	margin: 30px 0px;
	padding: 20px;
	border-radius: 5px;
}

.list{
	margin-bottom: 20px;
	width:auto;
	margin-top: 20px;
	padding-right: 20px;
	min-height: 250px;
	background-color: #F5FBEF;
	border-radius: 3px;
}
.list p img{
	width: 70px;
	height:30px; 
}
.list:hover{
	-webkit-box-shadow: 13px 18px 29px -12px rgba(0,0,0,0.75);
-moz-box-shadow: 13px 18px 29px -12px rgba(0,0,0,0.75);
box-shadow: 13px 18px 29px -12px rgba(0,0,0,0.75);
}
footer{
	height: 200px;
	padding-top: 80px;
	background-color: #F5FBEF;
}